<?xml version="1.0"?>
<robot name="test_robot">

    <gazebo>
        <plugin name="set_joints_position_plugin" filename="libgazebo_set_joint_positions_plugin.so">
            <robotNamespace>/</robotNamespace>
            <topicName>ur_driver/joint_states</topicName>
        </plugin>
    </gazebo>

    <link name="world">
    </link>

    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
    </link>

    <joint name="world_link" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 2" rpy="0 0 0"/>
    </joint>
    <gazebo reference="world_link">
        <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

    <link name="set_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
    </link>

    <joint name="set_link_joint" type="revolute">
        <parent link="base_link"/>
        <child link="set_link"/>
        <origin xyz="0 0 2" rpy="0 0 0"/>

        <axis xyz="0 0 1"/>
        <limit lower="-6.283" upper="6.283" effort="330.0" velocity="2.16"/>
        <dynamics damping="0.0" friction="0.0"/>
    </joint>
    <gazebo reference="set_link_joint">
        <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>



</robot>